<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Neon Tyrant"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="Neon Tyrant Team"
    UpgradeCode="3E7AD756-B2E1-4F1B-8B43-A309B647E3A8"
    InstallerVersion="500"
    Compressed="yes"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Neon Tyrant is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="NeonTyrantIcon.ico" SourceFile="game_cs\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="NeonTyrantIcon.ico" />

    <Feature Id="MainFeature" Title="Neon Tyrant" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Neon Tyrant" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Neon Tyrant" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="40A716E4-8F6A-4FC0-9D39-B7DA57FD3F4F">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Neon Tyrant"
          Description="Launch Neon Tyrant"
          Target="[INSTALLFOLDER]NeonTyrant.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="NeonTyrantIcon.ico" />
        <RemoveFolder Id="ApplicationProgramsFolderRemove" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\NeonTyrant" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="33344A65-BB8E-41FA-B6D8-B0018CC18080">
        <Shortcut
          Id="DesktopShortcut"
          Name="Neon Tyrant"
          Description="Launch Neon Tyrant"
          Target="[INSTALLFOLDER]NeonTyrant.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="NeonTyrantIcon.ico" />
        <RegistryValue Root="HKCU" Key="Software\NeonTyrant" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.SourceDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
